body {
    background-color: rgb(195, 211, 203);
    font-family: sans-serif;
    }
    
    
    
    h1 {
        color: orange;
        text-align: center;
    }
    
    h2 {
        color: red;
        
    
    }
    h3{
    color: maroon;
    }

    strong {
        font-weight: italic;
      }

      kbd {
        border-radius: 6px;
        padding: 6px;
        border: 5px solid goldenrod;
      }
      address {
        display: block;
        font-style: inherit;
      }
      