*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.grid-container {
height: 100vh;
display: grid;
grid-template:
"header header header" 15%
"nav main ads" 75%
"footer footer footer" 10%
/ 33% 33% 33%;
grid-gap: 15px;
}

.grid-item {
background-color: #ccc;

}

.item-1 {
grid-area: header;
}

.item-2 {
   grid-area: nav;
}

.item-3 {
    grid-area: main;

}

.item-4 {
    grid-area: ads;
}

.item-5 {
    grid-area: footer;
}